@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    text-decoration: none;
    text-transform: none;
    border:0;
    font-family: 'Montserrat', sans-serif;
}