@media all and (max-width: 768px) {
    html {
        font-size: 0.9rem;
    }
    .header {
        position: absolute;
    }
    .header__menu, .header__logo--web{
        display: none;
    }
    .header__logo--mobile{
        display: block;
        margin: 0.9rem auto;
        width: 120px;
        height: 30px;
    }
    .section__titles{
        margin: 4rem 0 4rem 0;
    }
	
    .menu {
        display: block;
        padding: 0.2rem;
    }

    .row{
        width: 90%;
        margin: 0;
        display: block;
    }

    .container {
        width: 90%;
    }

    .row__card {
        background-size: 800px;
        width: 90vw;
        margin: 30px 0;
        height: 55vh;
        max-height: 700px;
        max-width: 700px;
    }

    .row__services__one {
        background-image: url(../img/mobile/s3\ ft1.png);
    }
    .row__services__two {
        background-image: url(../img/mobile/s3\ ft2.png);
    }
    .row__services__three {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/mobile/s3\ ft3.png);
    }


    .row__differentials__one {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/mobile/s4\ ft1.png)
    }
    .row__differentials__two {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/mobile/s4\ ft2.png)
    }
    .row__differentials__three {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/mobile/s4\ ft3.png)
    }


    .card__title {
        padding: 1.2rem 0 1rem 0;
        font-size: calc(1.2em + 1vw);
    }

    .card__description {
        padding: 0.5rem 0.6rem;
        font-size: calc(0.8em + 1vw);
    }

    .about__description {
        padding: 0.5rem;
    }

    .header__movescroll {
        display: none;
    }
    



    .footer__contats, .footer__form {
        width: 100%;
        max-width: none;
        margin: 0;
        padding: 1.5rem;
    }

    .footer__contats > span p{
        font-size: 1.4rem;
    }

    .footer__form {
        width: 100%;
    }

    .footer__email, 
    .footer__number {
        font-size: 1.2rem;
        display: inline;
    }

    .footer__gps {
        font-size: 1.2rem;
        display: flex;
    }

    .footer__gps img{
        height: 23px;
    }

    .footer__texts p {
        font-size: 0.9rem;
    }

    .medal-icon {
        padding: 1rem;
    }
}

@media only screen and (min-width: 1100px) { 
    .footer__form, .footer__contats {
        max-width: 400px;
        margin: 2rem 3em;
    }
}

@media only screen and (min-width: 1400px) { 
    .footer__form, .footer__contats {
        max-width: 400px;
        margin: 2rem 5em;
    }
}
