@media only screen and (min-width: 700px) {
    .footer__content__contact p {
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
    .footer__localization span {
        font-size: 1.4rem;
    }
    .row{
        margin:0;
       }
}

@media all and (max-width: 768px) {
    html {
        font-size: 0.9rem;
    }
    .header {
        position: absolute;
    }
    .header__menu, .header__logo--web{
        display: none;
    }
    .header__logo--modify {
        background: url(../img/mobile/logo.png) center center no-repeat;
        width: 170px;
        height: 40px;
        text-align: center;
        margin: 0.2rem auto;
        display: block;
        padding: 20px;
    }
    .section__titles{
        margin: 4rem 0;
    }
	
    .menu {
        background-color: transparent;
        display: block;
        z-index: 2;
    }

    .row{
        display: block;
    }

    .container {
        width: 90%;
    }

    .row__card__services, .row__card__diferentails {
        background-size: 1000px;
        width: 90vw;
        margin: 30px 0;
        height: 55vh;
        max-height: 700px;
        max-width: 700px;
    }
    .row__card__diferentails
    

    .row__services__one {
        background-image: url(../img/mobile/s3\ ft1.png);
    }
    .row__services__two {
        background-image: url(../img/mobile/s3\ ft2.png);
    }
    .row__services__three {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/mobile/s3\ ft3.png);
    }


    .row__differentials__one {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/mobile/s4\ ft1.png);
    }
    .row__differentials__two {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/mobile/s4\ ft2.png)
    }
    .row__differentials__three {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/mobile/s4\ ft3.png)
    }
    
    .medal-icon {
        width: 120px;
    }
    

    .card__title {
        font-size: calc(2em + 1vw);
        padding: 0;
        margin: 1rem;
    }

    .card__description {
        padding: 0 2rem;
        font-size: calc(0.7em + 1vw);
    }

    .about__description {
        padding: 0.5rem;
    }

    .about__description p {
        font-size: calc(0.8em + 1vw);;
    }

    .header__movescroll {
        display: none;
    }
    



    .footer__contacts, .footer__form {
        width: 100%;
        max-width: none;
        margin: 0;
        padding: 1.5rem;
    }

    .footer__contacts > span p{
        font-size: 1.4rem;
    }

    .footer__form {
        width: 100%;
    }

    .footer__email, 
    .footer__number {
        font-size: 1.2rem;
        display: inline;
        margin-top: 1rem;
    }

    .footer__gps {
        font-size: 1.2rem;
        display: flex;
    }

    .footer__gps img{
        height: 23px;
    }



    .arrow {
        position: absolute;
    }
    .arrow__up {
        display: block;
        z-index: 1;
    }


    
    .form__content input:nth-child(4) {
    height: 330px;
    }
    
    #form__button {
        opacity: 1;
    }
    
    .form__content input{
        display:flex;
        flex-direction: column;
        padding: 25px;
        box-sizing: border-box;
        font-size: 1.5rem;
        width: 100%;
    }

}



@media only screen and (min-width: 1180px) { 
    .footer__form, .footer__contacts {
        max-width: 500px;
        max-height: 800px;
        height: 100vh;
        margin-top: 2rem;
    }
    .footer__content__contact p {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    .footer__localization span {
        font-size: 1.4rem;
    }
    .form__content input{
        padding: 20px;
        font-size: 1.5rem;
    }
    .form__content input+input {
        margin-top: 2.5rem;
    }
    .form__content input:nth-child(4) {
        height: 320px;
        }

}
