/*================= Collors =================*/
:root {
    --lightblue: #1cd4e9;
    --yellow: #EFE60B;
}

/* Configuring responsiveness to all containers */

.container {
	margin: 0 100px;
}

/*================= Header =================*/
 
.header {
    position: fixed;
    width: 100vw;
    z-index: 999;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    margin: 1rem;
    flex-grow: 2;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .header__menu a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.9rem;

        padding-right: 1.7rem;
    }

    .header__menu > li:nth-child(5) a {
        color: var(--lightblue);
    }

        .header__menu > li:nth-child(5) a:hover {
            color: white;
            background-color: var(--lightblue);

            padding: 10px 10px;
            margin: 0rem 1rem 0rem 0rem;

            border-radius: 50px;
            transition: 0.5s;
        }

/*================= Section Initial =================*/

.initial {
    background-position: 50% 0;
    color: #ffffff;

    display: flex;
    position: relative;

    margin-bottom: 1rem;
    height: 100vh;

    align-items: center;
    text-align: center;
}

.initial__title {
    font-weight: 800;
    font-size: 5rem;
    animation: initialTitle 1s 1s 1;
}

    @keyframes initialTitle{
        0%{
            transform: translate(-100vw)
        }
            
        100%{
            transform: translate(0)
        }
    }

.initial__description {
    margin-top: 4rem;

    font-size: small;
}

.initial__description--color {
    color: var(--yellow);
}

/*================= BUTTON CONTATO =================*/
.initial__button {
    text-decoration: none;
    font-weight: 700;
    background: var(--lightblue);
    color: white;

    display: inline-block;
    padding: 1.2rem;
    margin-top: 4rem;

    border-radius: 50px;
    opacity: 0.8;
}

    .initial__button:hover {
        opacity: 1;
        transition: 0.5s;
    }

