/*================= Import CSS files Responsiveness =================*/
@import url('responsive.css');

/*================= Variables Collors =================*/
:root {
    --lightblue: #1cd4e9;
    --yellow: #EFE60B;
}

/* 
    Order of attributes

    .selector {
        Positioning (Position)

        Display & Box Model (Display)

        Color (Color/Background)

        Text (Font-size)

        Orthers (Transition)
*/

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/web/bg.png);
    background-size: cover;
    background-position: center;
}

/* Configuring responsiveness to all containers */

.container {
    margin: 0 5vw;
    max-width: 1500px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

/*================= Header =================*/
.header {
    position: fixed;
    z-index: 1;

    width: 100vw;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: unset;
}

.header__logo {
    z-index: 9;
    margin: 1rem 0;
    flex-grow: 2;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

    .header__menu a {
        padding-right: 1.7rem;
        
        color: #ffffff;

        font-weight: 700;
        font-size: 0.9rem;
        text-decoration: none;
    }

    .header__menu > li:nth-child(5) a {
        color: var(--lightblue);
    }
        /*================= Button CONTATO =================*/
        .header__menu > li:nth-child(5) a:hover {
            margin: 0rem 1rem 0rem 0rem;
            padding: 10px 10px;
            border-radius: 50px;
            
            background-color: var(--lightblue);
            color: white;

            transition: 0.5s;
        }

/*================= Header MOVESCROLL(Enabled when scrolling) =================*/
.header__movescroll {
    background: white;
    transition: 0.5s;
}

.header__movescroll a {
    color: black
}

.header__movescroll > li:nth-child(5) a {
    padding: 10px 10px;
    margin: 0rem 1rem 0rem 0rem;
    border-radius: 50px;
    
    background-color: var(--lightblue) ;
    color: white;

    transition: 0.5s;
}

/*================= Arrow =================*/
.arrow {
    position: absolute;
}
.arrow__up {
    position: fixed;

    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    right: 2rem;
    bottom: 2rem;
} 

/*================= Menu Hamburguer =================*/
.menu {
    position: absolute;

    display: none;
    width: 80px;
    height: 80px;

    cursor: pointer;
}

.hamburguer {
    position: relative;
    top: 36px;
    left: 15px;

    display: block;
    width: 40px;
    height: 5px;

    background: white;
}

/* Removing the modal from the screen */
.hamburguer.remove {
    opacity: 0;         
    visibility: hidden;
}

    .hamburguer:before,
    .hamburguer:after {
        position: absolute;

        display: block;
        width: 100%;
        height: 100%;
        
        background: white;
        
        transition: .5s ease-in-out;
        content: '';
    }

    .hamburguer:before {
        top: -10px;
    }

    .hamburguer::after {
        bottom: -10px;
    }

#menu__hamburguer {
    display: none;
}

/*================= Modal of the hamburger menu =================*/
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    width: 100%;
    height: 100%;

    /* Removing the Modal from the screen */
    visibility: hidden;
    opacity: 0;            
}

.modal__overlay.active2 {
    /* Appearing on the screen again */
    opacity: 1;
    visibility: visible; 
}

/*================= Modal content =================*/
.menu__modal__open {
    position: relative;

    width: 90%;
    max-width: 300px;
    height: 550px;
    border-radius: 0 20px 20px 0;
    padding-top: 0.1rem;
    
    font-size: 1.5rem;
    text-align: center;
    
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    
    backdrop-filter: blur( 10.0px );
}

.menu__modal__open li {
    margin: 2rem;
}


.menu__modal__open a {
    color: white;
}

#modal__img {
    margin: 0.5rem;

    text-align: right;
}

/*================= Section Initial =================*/
.initial {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-bottom: 1rem;
    
    background: url(../img/web/s1\ ft1.png) no-repeat  50% 0;
    background-size: cover;
    color: #ffffff;
}

.initial__title {
    font-weight: 800;
    font-size: 9vw;

    animation: AnimationLeftToRight 1s 1s 1;
}

.initial__description {
    margin: 4rem 1rem 0 ;

    font-size: calc(0.5em + 1vw);
    
    animation: AnimationRightToLeft 1s 1s 1;
}

.initial__description--color {
    color: var(--yellow);
}

/*================= Button initial (CONTATO) =================*/
.button {
    display: inline-block;
    
    padding: 1.2rem;
    margin-top: 4rem;
    border-radius: 50px;
    text-decoration: none;
    
    background: var(--lightblue);
    color: white;
    
    font-weight: 700;

    opacity: 0.8;
    animation: AnimationDownToUp 1s 1s 1;
}

    .button:hover {
        border: .5rem solid;
        border-color: var(--yellow);
        opacity: 1;
        transition: 0.5s;
    }

/*================= Titles of each session =================*/
.section__titles {
    margin-bottom: 6rem;
    margin-top: 4rem;

    font-weight: 700;
    font-size: 2.5rem;
}

/*================= About the company =================*/
.about__description {
    padding: 2rem;
    border: 1px solid;
    
    background-color: white;

    animation: AnimationLeftToRight 1s 1s 1;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.43);
}

    .about__description p {
        padding: 1rem;

        font-size: 1.5rem;
    }

/*================= About animation =================*/
[data-animation] {
    opacity: 0;
    transition: 1.5s;
}

[data-animation="left"] {
    transform: translate3d(-100vw, 0px, 0px);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px , 0px, 0px);
}

/*================= Company services =================*/
.services {
    width: 89vw;
}

.services__container {
    text-align: center;
}

/*================= Services and Differentials card =================*/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 5rem;
}


.row__card__services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 40vw;
    max-width: 380px;
    height: 40vh;
    min-height: 400px;
    margin: 0 25px 25px 0;
    border-radius: 40px;
    border: 2px solid var(--yellow);
    
    background-position: center center;
    
    text-align: center;
    
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.253), 0 3px 6px rgba(0,0,0,0.24);
    transition:.2s all; 
}
  
    .row:hover .row__card__services{
        opacity:.5;
        filter:blur(3px);
        transform: scale(.98);
        box-shadow:none;
    }

    .row:hover .row__card__services:hover{
        opacity:1;
        transform:scale(1);
        filter:blur(0px);
        box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
    }

.row__card__diferentails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 40vw;
    max-width: 280px;
    height: 450px;
    margin: 0 25px 25px 0;
    border-radius: 40px;

    border: 2px solid var(--yellow);
    
    background-position: center center;
    
    text-align: center;

    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.253), 0 3px 6px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
    .row__card__diferentails:hover{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        animation-name: CardBorder;
        animation-duration: .25s;
      
        border-left: 15px solid var(--yellow);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.row__services__one {
    background-image: url(../img/web/s3\ ft1.png);
}

.row__services__two {
    background-image: url(../img/web/s3\ ft2.png)
}

.row__services__three {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/web/s3\ ft3.png)
}

.card__title {
    padding: 1.5rem;

    font-weight: 700;
    font-size: 2rem;

    color: var(--yellow);
}

.card__description {
    padding: 1rem;

    font-weight: 400;
    font-size: 1.1rem;

    color: white;
}

/*================= Company Differentials =================*/
.diferentails {
    width: 89vw;
    margin-bottom: 2rem;
}

.medal-icon {
    width: 100px;
    padding: 3rem 0 1rem 0;
}

.row__differentials__one {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/web/s4\ ft1.png)
}
.row__differentials__two {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/web/s4\ ft2.png)
}
.row__differentials__three {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/web/s4\ ft3.png)
}

/*================= Footer =================*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;

    color: white;
    
    background-color: #191919;
}

/*================= Footer Contact Content =================*/
.footer__contacts {
    width: 90vw;
    margin: 2rem 5rem ;
}

.footer img {
    width: 100%;  
}

.footer__localization {
    margin: 2rem 0;
}

.footer__email__telephone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 1rem;
}

    .footer__email__telephone img, 
    .footer__gps img{
        margin: 0 0.8rem -0.2rem 0;
    }

.footer__email, 
.footer__number {
    display: inline;

    font-size: 0.9rem;
}

.footer__gps {
    font-size: 0.9rem;
}

.footer__texts p {
    margin-bottom: 1rem;

    font-size: 0.7rem;
}

.contats__descrtiption--yellow {
    color: var(--yellow);
}


.contats__descrtiption--blue {
    color: var(--lightblue)
}

/*================= Upper and lower split bar =================*/
#yellow {
    width: 100%;
    height: 50px;

    background-color: var(--yellow);
}

.footer__contacts .contats__termos {
    margin-top: 3rem;

    text-align: center;
}

    .footer__contacts .contats__termos a {
        font-size: 1.5rem;
        
        color: white;
    }

    .footer__contacts .contats__termos a:hover {
        color: var(--lightblue);
    }

/*================= Footer Form =================*/
.footer__form {
    width: 90%;
    padding: 20px;
    
    background-color: #818181;
}

.form__content input{
    display:flex;
    flex-direction: column;

    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    
    font-size: 1.1rem;   
}

    .form__content input+input {
        margin-top: 1rem;
    }

    .form__content input:nth-child(4) {
        height: 230px;
    }

.form__select {
    width: 100%;
    margin: 1rem 0;
    padding: 13px;

    font-size: 1.3rem;
}

#form__button {
    font-weight: 800;
    
    color: white;
    background-color: var(--lightblue);

    opacity: 0.8;
    cursor: pointer;
}

    #form__button:hover {
        transition: .5s;
        border-left: 1rem solid;
        border-color: var(--yellow);
        opacity: 1;
    }

/*================= Animation Content Initial =================*/

/* Text principal (FULL DIGITAL PERFORMANCE */
@keyframes AnimationLeftToRight{
    0%{
        transform: translate(-100vw)
    }
        
    100%{
        transform: translate(0)
    }
}

/* Description (Lorem) */
@keyframes AnimationRightToLeft{
    0%{
        transform: translate(100vw)
    }
        
    100%{
        transform: translate(0)
    }
}

/* Button (ENTRE EM CONTATO AGORA) */
@keyframes AnimationDownToUp{
    0%{
        transform: translateY(100vh)
    }
        
    100%{
        transform: translate(0)
    }
}

/*================= Animation Card =================*/
@keyframes CardBorder {
    0%   {border-left: 1px solid #ffffff;}
    25%  {border-left: 5px solid rgb(241, 241, 110)}
    50%  {border-left: 10px solid rgb(255, 255, 76)}
    100% {border-left: 15px solid var(--yellow)}
}

