@import url('responsive.css');

/*================= Collors =================*/
:root {
    --lightblue: #1cd4e9;
    --yellow: #EFE60B;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/web/bg.png);
    background-size: cover;
    background-position: center;
}

/* Configuring responsiveness to all containers */

.container {
    margin: 0 5vw;
    max-width: 1500px;
}

article {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center
}




.menu {
    display: none;
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: pointer;
}

.hamburguer {
    position: relative;
    display: block;
    background: white;
    width: 40px;
    height: 5px;
    top: 36px;
    left: 15px;
}

.hamburguer.remove {
    opacity: 0;            /* Retirando o Modal da tela */
    visibility: hidden;
}

.hamburguer:before,
.hamburguer:after {
    background: white;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer::after {
    bottom: -10px;
}

#menu-hamburguer {
    display: none;
}


.modal__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;            /* Retirando o Modal da tela */
    visibility: hidden;

    z-index: 9;
}

.modal__overlay.active2 {
    opacity: 1;
    visibility: visible; /* Voltando a aparecer na tela */
    
}

.modalmenuopen {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    border-radius: 0 20px 20px 0;
    padding-top: 0.1rem;
    position: relative;
    width: 90%;
    max-width: 300px;
    height: 550px;
    font-size: 1.5rem;
    text-align: center;
}

.modalmenuopen li {
    margin: 2rem;
}


.modalmenuopen a {
    color: white;
}

#modal__img {
    text-align: right;
    margin: 0.5rem;
}



/*================= Header =================*/
.arrow {
    position: absolute;
}
.arrow__up {
    position: fixed;
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    right: 2rem;
    bottom: 2rem;
} 

.header {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    margin: 1rem 0;
    flex-grow: 2;
    z-index: 9;
}


.header__menu {
    display: flex;
    justify-content: space-between;
}

    .header__menu a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.9rem;

        padding-right: 1.7rem;
    }

    .header__menu > li:nth-child(5) a {
        color: var(--lightblue);
    }

        .header__menu > li:nth-child(5) a:hover {
            color: white;
            background-color: var(--lightblue);

            padding: 10px 10px;
            margin: 0rem 1rem 0rem 0rem;

            border-radius: 50px;
            transition: 0.5s;
        }


.header__movescroll {
    background: white;
    transition: 0.5s;
}

.header__movescroll a {
    color: black
}

.header__movescroll > li:nth-child(5) a {
        color: white !important;
        background-color: var(--lightblue) !important;

        padding: 10px 10px;
        margin: 0rem 1rem 0rem 0rem;

        border-radius: 50px;
        transition: 0.5s;
}


/*================= TITLES SECTIONS =================*/
.section__titles {
    font-weight: 700;
    font-size: 2.5rem;
            
    margin-top: 4rem;
    margin-bottom: 6rem;
}
/*================= Section Initial =================*/

.initial {
    background-position: 50% 0;
    background-image: url(../img/web/s1\ ft1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;

    display: flex;
    position: relative;

    margin-bottom: 1rem;
    height: 100vh;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.initial {
    text-align: center;
}

.initial__title {
    font-weight: 800;
    font-size: 9vw;
    animation: AnimationLeftToRight 1s 1s 1;
}

.initial__description {
    margin: 4rem 1rem 0 ;
    font-size: 2vw;
    font-size: calc(1em + 1vw);
    animation: AnimationRightToLeft 1s 1s 1;
}

.initial__description--color {
    color: var(--yellow);
}

/*================= BUTTON CONTATO =================*/
.button {
    text-decoration: none;
    font-weight: 700;
    background: var(--lightblue);
    color: white;

    display: inline-block;
    padding: 1.2rem;
    margin-top: 4rem;

    border-radius: 50px;
    opacity: 0.8;

    animation: AnimationDownToUp 1s 1s 1;
}

    .button:hover {
        opacity: 1;
        transition: 0.5s;
    }

    /*================= CONTENT IMAGE =================*/
.content 

/*================= ABOUT =================*/
.about{ 
    margin: 1rem;
}

.about__description {
    background-color: white;
    animation: AnimationLeftToRight 1s 1s 1;
    padding: 2rem;
    border: 1px solid;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.43);
}

.about__description p {
    padding: 1rem;
    font-size: 1.5rem;
}

/*================= SERVICES =================*/
.services {
    width: 89vw;
}


/*================= CARDS =================*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    justify-content: space-between;
}

.row__card__services {
    text-align: center;
    
    background-position: center center;
    
    border-radius: 40px;
    margin: 0 25px 25px 0;
    width: 40vw;
    height: 40vh;
    max-width: 380px;

    box-shadow: 1px 1px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.row__card__diferentails {
    text-align: center;
    
    background-position: center center;
    
    border-radius: 40px;
    margin: 0 25px 25px 0;
    width: 40vw;
    max-height: 400px;
    max-width: 280px;

    box-shadow: 1px 1px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}


.services__container {
    text-align: center;
}

.card__title {
    color: var(--yellow);
    font-weight: 700;
    font-size: 2rem;
    padding: 1.5rem;
}

.card__description {
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 1rem;
}

.row__services__one {
    background-image: url(../img/web/s3\ ft1.png);
}

.row__services__two {
    background-image: url(../img/web/s3\ ft2.png)
}

.row__services__three {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/web/s3\ ft3.png)
}



/*================= DIFFERENTAILS =================*/
.diferentails {
    width: 89vw;
    margin-bottom: 2rem;
}
.medal-icon {
    width: 100px;
    padding: 3rem 0 1rem 0;
}

.row__differentials__one {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/web/s4\ ft1.png)
}
.row__differentials__two {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/web/s4\ ft2.png)
}
.row__differentials__three {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/web/s4\ ft3.png)
}



/*================= FOOTER =================*/
.footer {
    background-color: #191919;
    color: white;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*================= FOOTER__CONTATS AND DESCRIPTION =================*/
.footer__contats {
    width: 90vw;
    margin: 2rem 5rem ;
}


.footer img {
    width: 100%;  
}

.footer__localization {
    margin: 2rem 0;
}

.footer__emailNumber {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer__emailNumber img, 
.footer__gps img{
    margin: 0 0.8rem -0.2rem 0;
}

.footer__email, 
.footer__number {
    font-size: 0.9rem;
    display: inline;
}

.footer__gps {
    font-size: 0.9rem;
}

.footer__texts p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.contats__descrtiption--yellow {
    color: var(--yellow);
}


.contats__descrtiption--blue {
    color: var(--lightblue)
}

#yellow {
    width: 100%;
    height: 50px;
    background-color: var(--yellow);
}

.footer__contats .contats__termos {
    margin-top: 3rem;
    text-align: center;
}

.footer__contats .contats__termos a {
    font-size: 1.5rem;
    color: white;
}

.footer__contats .contats__termos a:hover {
    color: var(--lightblue);
}

/*================= FOOTER__FORM =================*/
.footer__form {
    background-color: #818181;
    width: 90%;
    padding: 20px;

}

.form__content input:nth-child(4) {
height: 230px;
}

#form__button {
    background-color: var(--lightblue);
    color: white;
    font-weight: 700;
    opacity: 0.8;
    text-align: center;
}

#form__button:hover {
    opacity: 1;
}

.form__content input{
    display:flex;
    flex-direction: column;
    padding: 13px;
    box-sizing: border-box;
    font-size: 1.1rem;
    width: 100%;
}

.form__content input+input {
    margin-top: 1rem;
}

/*ANIMATION */

@keyframes AnimationLeftToRight{
    0%{
        transform: translate(-100vw)
    }
        
    100%{
        transform: translate(0)
    }
}

@keyframes AnimationRightToLeft{
    0%{
        transform: translate(100vw)
    }
        
    100%{
        transform: translate(0)
    }
}

@keyframes AnimationDownToUp{
    0%{
        transform: translateY(100vh)
    }
        
    100%{
        transform: translate(0)
    }
}